

body { 
		height: 100vh;
		background-color: black;
       font-family: 'Vipnagorgialla', sans-serif;                                         
		 display: flex;
		 justify-content: center;
		 align-items: center;

		background-image: url('images/kimphomepage2edit1.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;

		}



#menu {
	width: 400px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	left: 0;
	top: 0;
}

a {
		color: lightgreen;
}

#background {
	position: fixed;
	height: 100vh;

}

h1	{
	 font-family: Vipnagorgialla, sans-serif;
	 font-size: 120px;
	 text-align: center;
	 letter-spacing: -8px;
	 line-height: 130px;
	}

p {font-family: Futura, sans-serif;
   font-size: 30px;
   text-align: center;
   word-spacing: -2px;
   color: lightgreen;
}

.VipnagorgiallaRegular {
	color: hotpink;
	font-size: 150px;
	text-align: center;
}


.VipnagorgiallaRegular:hover {
	display: block;
	color: hotpink;
	text-shadow: 10px 1px #27F568;
	font-size: 150px;
	animation: fadeIn 2s infinite;
}

@keyframes fadeIn {
		0% {opacity: 1;}
		50% {opacity: 0;}
		100% {opacity: 1;}
	}